<h1>Edit Listing</h1>
<%= form_with model: @listing, method: :put, local: true do |form| %>

  <%= render 'shared/errors', instance: @listing %>
  
  <%= render 'form', form: form %>
  
  <p>
    <%= form.submit 'Submit Changes' %>
  </p>

<% end %>
