<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column is-6">
        <p>Site Last Updated: 4/8/2020</p>
      </div>
      <div class="column is-6">
        <p>
          <strong>Contact Us</strong>
        </p>
        <%= mail_to('help@erdman-art-group.com')%>
      </div>
    </div>
  </div>
</footer>