<h1>Edit Piece</h1>
<%= form_with model: @piece, method: :put, local: true do |form| %>

  <%= render 'shared/errors', instance: @piece %>
  
  <%= render 'form', form: form %>
  
  <p>
    <%= form.submit 'Submit Changes' %>
  </p>

<% end %>
