<section class='section'>
  <h2 class='title'>Reset Password</h2>
  <%= form_with url: forgot_password_path do |form| %>
  <div class='field is-grouped'>
    <div class='control'>
      <%= form.text_field :email, class: 'input', placeholder: 'Enter your email' %>
    </div>
    <div class='control'>
      <%= form.submit 'Send Password Reset Email', class: 'button' %>
    </div>
  </div>
  <% end %>
</section>