<section class='section'>
  <h1 class='title'>Application Already Exists</h1>
  <h2 class='subtitle'>You've already created an application for this piece.</h2>
  <%= link_to 'View Application', work_app_path(@app.work, @app), class: 'button' %>
</section>