<h1>Buyers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Shipping Cost</th>
    <th>Purchases</th>
  </tr>

  <% @buyers.each do |buyer| %>
  <tr>
    <td><%= buyer.name %></td>
    <td><%= buyer.address %></td>
    <td><%= buyer.shipping_cost %></td>
    <td>
    <% buyer.listings.each do |listing| %>
    <%= link_to piece_listing_url(listing) %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>