<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>ArtSales</title>
    <%= csrf_meta_tags %>

    <% #= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="all" href="/assets/application-6602fa786c0f4ad8d19da6d5406b885c4abc4477c38fe6ab18b8bc7c8ec5b971.css" data-turbolinks-track="reload" />
    <script src="/assets/application-838c955c3092634c91e16c9fc22af3232b1c139d04a948d08115ad8e50d2d882" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class='container is-fluid'>
      <%= render 'shared/errors' %>
      <%= yield %>
    </div>
  </body>
</html>
